div.about {
    .info {
        color: rgb(255, 255, 255);
        p {
            font-family: @HelveticaCyrThin;
        }
        .info-header {
            .name {
                font-family: @HelveticaCyrThin;
            }
            font-family: @HelveticaCyrMedium;
            display: inline-block;
            background-image: -webkit-gradient(linear, left top, right top, from(@blue), to(@blue));
            background-repeat: no-repeat;
            background-position: 0.6vw 3.4vh;
            padding-right: 1.2vw;
        }        
        position: relative;
        margin: 0 auto;
    }
    div.video {
        iframe {
            width: 50vw;
            height: 50vh;
        }
        position: relative;
        width: 50vw;
        top: 16%;
        margin: 0 auto;
    }
    background-image: url("/images/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 820px) {
    div.about {
        .info {
            p {font-size: 1vw}
            .info-header {font-size: 4vw}
            width: 50vw;
            top: 13%;
        }
        height: 100vh;
    }    
}

@media 
screen and (max-width: 820px),
screen and (max-width: 414px),
screen and (max-device-width: 414px),
screen and (min-device-width: 415px) and (max-device-width: 823px) {
    div.about {
        div.video {display: none}
        .info {
            width: 90%;
            text-align: center;
        }
    }    
}

@media screen and (max-width: 820px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    div.about {
        .info {
            p {
                padding-top: 2vh;
                font-size: 3vw;
            }
            .info-header, span.name {font-size: 8vw}
            top: 22%;
        }
        height: 100vh;
    }
}

@media screen and (max-width: 414px), 
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    div.about {
        .info {
            p {
                padding-top: 3vh;
                font-size: 5vw;
            }
            .info-header, span.name {font-size: 9vw}
            top: 20%;
        }
        height: 80vh;
    }
}