div.bottom-banner {
    .your-time {
        font-family: @HelveticaCyrMedium;
        font-size: 3vw;
        position: absolute;        
        left: 2vw;
    }
    img {
        display: block;
        height: inherit;
        width: 50%;
        margin: 0 auto;
    }
    .skinfarm {
        font-family: @HelveticaCyrThin;
        position: absolute;
        font-size: 5vw;        
        right: 5vw;
    }
    color: @black;
    position: relative;    
}

@media screen and(min-width: 820px) {
    div.bottom-banner {
        .your-time {
            top: 25vh;
        }
        .skinfarm {
            top: 23vh;
        }
        height: 55vh;
    }
}

@media 
screen and (max-width: 820px),
screen and (max-device-width: 414px) {
    div.bottom-banner {
        .your-time {
            top: 12vh;
        }
        .skinfarm {
            top: 11vh;
        }
        height: 25vh;
    }
}

@media screen and (max-width: 820px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    div.bottom-banner {
        .your-time {
            top: 20vh;
        }
        .skinfarm {
            top: 18vh;
        }
        height: 50vh;
    }
}

@media screen and (max-width: 414px), 
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    div.bottom-banner {
        .your-time {
            top: 12vh;
        }
        .skinfarm {
            top: 11vh;
        }
        height: 25vh;
    }
}