div.faq {
    h1 {
        font-family: @HelveticaCyrMedium;
        background-image: -webkit-gradient(linear, left bottom, right bottom, from(@blue), to(@blue));
        background-repeat: no-repeat;            
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 8vh;
    }    
    #slider {
        .arrows {
            div {
                width: 2.5vw;
                height: 5vh;
                color: @grey;
                position: absolute;
                top: 16vh;
                z-index: 1;
                &:hover {
                    cursor: pointer;
                    color: #fff;
                }
            }
            .prev {
                border-bottom: 4px solid;
                border-left: 4px solid;
                transform: rotate(45deg);
                left: 0;
            }
            .next {
                border-bottom: 4px solid;
                border-left: 4px solid;
                transform: rotate(-135deg);
                right: 0;
            }
        }
        .inner {
            font-family: @HelveticaCyrRoman;
            p {                
                .attention {
                    color: rgb(216, 54, 54);
                }
                line-height: 2;
                font-size: 1.6vh;
            }
            .slide-header {                
                margin-bottom: 2.5vh;
                line-height: 1;
            }
            a {
                color: @blue;
            }
        }        
    }
    img {
        position: relative;
        float: right;
        margin: 6vh 5vw 0 0;
        height: 87%;
        width: 35%;
    }    
    width: 100%;
    position: relative;
    background-color: @black;
}

@media screen and(min-width: 820px) {
    div.faq {
        h1 {
            display: inline-block;
            position: absolute;
            top: 8vh;
            left: 6vw;   
            padding: 0 1vw 0 6vw;   
            background-position: 1.6vw 4.3vh;      
        }
        #slider {
            .inner {
                .slide-header {font-size: 4vh}
            }
            top: 30vh;
            left: 6vw;
            width: 48vw;
        }
        height: 100vh;
    }    
}

@media 
screen and (max-width: 820px),
only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape),
only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    div.faq {
        h1 {
            font-size: 38px;
            position: absolute;
            text-align: center;  
            background-position: 10vw 4.3vh;   
        }
        img {display: none}
        #slider {
            .arrows {display: none}
            .inner {
                div {
                    height: 45vh;
                }                
            }
            position: relative;
            width: 90%;
            margin: 5vh auto 0;
        }        
    }    
}

@media screen and (max-width: 820px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    div.faq { 
        #slider {            
            .inner {
                h2.slide-header {
                    font-size: 4vw;
                }
                div:nth-child(1) {p {font-size: 1.75vw !important}}
                div:nth-child(2) {p {font-size: 1.9vw !important}}
                div:nth-child(3) {p {font-size: 2vw !important}}
                div:nth-child(4) {p {font-size: 1.3vw !important}}
            }
            top: 27vh;
            left: 0;
            width: 80%;
        }     
        height: 100vh;
    }
}

@media screen and (max-width: 414px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    div.faq {
        #slider {
            .inner {
                h2.slide-header {
                    font-size: 20px !important;
                }
                div:nth-child(1) {p {font-size: 3.3vw !important}}
                div:nth-child(2) {p {font-size: 3.3vw !important}}
                div:nth-child(3) {p {font-size: 3.3vw !important}}
                div:nth-child(4) {p {font-size: 2.4vw !important}}
            }
            top: 16vh;
            left: 0;
            width: 80%;
        } 
        height: 80vh;
    }
}