div.top-banner {    
    .tagline, .tagline-mobile {
        p {
            font-family: @HelveticaCyrMedium;
            font-size: 4vw;
            font-weight: bold;
        }
        p.work {
            font-family: @HelveticaCyrLight;
            font-weight: lighter;            
            background-image: -webkit-gradient(linear, left top, right top, from(@beige), to(@beige));
            background-repeat: no-repeat;
            background-position: 0.6vw 2.8vh;
            padding-right: 5.2vw;
        }
        color: @black;        
    }
    .download {
        font-size: 2vw;
        text-align: center;
        font-family: @HelveticaCyrLight;
        a {
            color: @black;
            border: 4px solid;
            border-radius: 30px;
            text-decoration: none;
            padding: 3px 10px;
            &:hover {
                color: white;
                background-color: @black;
                border: 4px solid @black;
                transition: 0.5s;
            }           
        }
        p {
            margin-top: 10px;
        }
        position: absolute;
        top: 20px;
        right: 2.5vw;
    }
    .requirements {
        font-family: @HelveticaThin;
        position: absolute;
        bottom: 0;
        right: 1.5vw;
    }
    margin-top: 8vh;
    position: relative;
}

@media screen and (min-width: 820px) {
    div.top-banner {
        img {
            min-width: 460px;
            width: 55%;
            height: 100%;
            margin-left: 3%;
        }
        .tagline {
            position: absolute;
            top: 25%;
            right: 15%;
        }
        .tagline-mobile {display: none}
        height: 55vh;  
    }    
}

@media 
screen and (max-width: 820px),
screen and (max-width: 414px),
screen and (max-device-width: 414px),
screen and (min-device-width: 415px) and (max-device-width: 823px) {
    div.top-banner {
        img {display: none}
        .tagline {display: none}
        .download {display: none}
        .tagline-mobile {
            display: block;
            text-align: center;
            margin: 0 auto;            
            color: #fff;          
            text-shadow: 1px 1px 3px @black;
        }
        .requirements {
            color: #fff;          
            text-shadow: 1px 1px 3px @black;
        }
        background-image: url("/images/diamond.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 820px), 
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    div.top-banner {
        .tagline-mobile {
            padding-top: 22vh;
        }
        .requirements {
            font-size: 12px;
        }
        height: 50vh;
    }
}

@media screen and (max-width: 414px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    div.top-banner {
        .tagline-mobile {
            padding-top: 12vh;
        }
        .requirements {
            font-size: 9px;
        }
        height: 27vh;
    }
}