div.why-us {
    .info {
        h1 {
            font-family: @HelveticaCyrMedium;
            text-align: center;            
            font-weight: bold;
            margin-top: 7vh;
        }
        .arguments {
            h2 {
                font-family: @HelveticaCyrMedium;
                display: inline-block;                
                margin-top: 4vh;
                background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
                background-repeat: no-repeat;                
                padding: 0 1.2vw 0 1.5vw;
            }
            .clarity {
                background-position: 0 0;
                background-size: 40% 68%;
            }
            .speed {
                background-position: 3.8vw 0;
                background-size: 100% 68%;
            }
            .benefit {
                background-position: 4.7vw 1.5vh;
                background-size: 37% 40%;
            }
            p {
                font-family: @HelveticaCyrRoman;
                line-height: 1.49;
                font-size: 1.8vh;
            }
            width: 70%;
            margin: 3vh auto 0;
        }        
    }
    .logo {
        margin-top: 1.6%;
        height: 95%;
        width: 45%;
        float: right;
        background-image: url("/images/about_logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    color: @black;    
    width: 100%;
    position: relative;
}

@media screen and (min-width: 820px) {
    div.why-us {
        .info {
            h1 {font-size: 9vh}
            .arguments {
                h2 {
                    font-size: 3.5vh;
                }
            }
            width: 49%;
            float: left;
        }
        height: 100vh;      
    }
}

@media 
screen and (max-width: 820px),
screen and (max-width: 414px),
screen and (max-device-width: 414px),
screen and (min-device-width: 415px) and (max-device-width: 823px) {
    div.why-us {
        .info {            
            h1 {
                font-size: 6vw;
                width: 100%;
                text-align: center;
            }
            .arguments {
                h2 {
                    font-size: 3.3vw;
                }
                p {
                    font-size: 1.8vw;                    
                }
                width: 70%;
                margin: 0 auto;
            }
            width: 100%;
        } 
        .logo {display: none}       
    }
}

@media screen and (max-width: 820px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    div.why-us {
        height: 100vh;
    }
}

@media screen and (max-width: 414px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    div.why-us {
        .info {
            h1 {
                font-size: 9vw;
            }   
            .arguments {
                h2 {
                    font-size: 5vw;
                }
                p {
                    font-size: 3.5vw;
                }
            }
        }
        height: 80vh;
    }
}