@import "style-source.less";

div {
    .top-corner {
        position: absolute;
        width: 14.5vw;
        height: 26.25vh;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .skinfarm-logo {
        position: absolute;
        top: 14vh;
        left: 38vw;
        width: 23.5vw;
        height: 73vh;
        z-index: -1;
    }
    h1 {
        font-family: @HelveticaCyrMedium;
        display: block;
        margin: 0 auto;
        width: 34vw;
        color: @black;
        background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
        background-repeat: no-repeat;
        background-position: 13vw 2.2vh;
        background-size: 56% 70%;
        font-size: 2.0vw;
        padding: 0 0 0.5vw;
        margin-top: 5vh;
    }
    .container {
        .content {
            table {
                tr {
                    td.bold-td {
                        font-weight: bold;
                    }
                }
            }
            h2.part {
                margin-top: 5vh;
                font-weight: normal;
                font-size: 24px;
            }
            p.block-label {
                margin-top: 4vh;
            }
            &::-webkit-scrollbar-track {
                background-color: white;
            }        
            &::-webkit-scrollbar {
                width: 15px;
                height: 80%;
            }        
            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px @blue;
                background-color: @blue;
            }
            position: absolute;
            font-size: 18px;
            font-family: @HelveticaCyrLight;
            width: 90%;
            height: 90%;
            top: 3.5vh;
            left: 1.8vw;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 1.6vw 0 10px;
        }
        position: relative;
        background-color: rgba(237, 237, 237, 0.5);
        border-radius: 25px;
        width: 37%;
        min-width: 505px;
        height: 70.5%;
        margin: 5vh auto 0;
    }
    .accept-block {
        input[type=checkbox] {
            visibility: hidden;
            &:checked + label:after {
              opacity: 1;
            }
        }
        label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 13px;
            left: 0;
            background: white;
            border-radius: 4px;
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
            margin: 0;
            &:after {
                content: '';
                width: 9px;
                height: 5px;
                position: absolute;
                top: 4px;
                left: 4px;
                border: 3px solid #333;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
            }
            &:hover::after {
                opacity: 0.5;
            }
        }
        span {
            position: absolute;
            font-size: 0.8vw;
            top: 15px;
            left: 30px;
        }       
        .accept-agreement {  
            position: absolute;
            right: 0;   
            color: @black;
            border: 2px solid;
            border-radius: 30px;
            text-decoration: none;
            font-size: 1.7vw;
            padding: 5px 1.7vw;
            &:hover {
                color: white;
                background-color: @black;
                border: 2px solid @black;
                transition: 0.5s;
            }
        }
        position: relative;
        font-family: @HelveticaCyrLight;
        width: 37%;
        min-width: 505px;
        margin: 3vh auto 0;
    }    
    .main-logo {
        position: absolute;
        left: 3vw;
        bottom: 2vh;
        z-index: -1;
    }
    .bot-corner {
        position: absolute;
        width: 18.104vw;
        height: 55.8vh;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

// лок кнопки
.not-active {
    pointer-events: none;
    cursor: default;
    color: rgb(109, 109, 109) !important;
    border: 2px solid rgb(109, 109, 109) !important;
}