@import "style-source.less";

.cabinet-app {
    .user-info-loader {
        img {
            display: block;
            height: 9vh;
            widows: 4.5vw;
            margin: 0 auto;
        }
        position: relative;
        width: 100%;
        height: 10vh;
        background-color: @black;
    }
    .user-info {
        img.avatar {
            position: absolute;
            border-radius: 50%;
            width: 4vw;
            height: 8vh;
            top: 1vh;
            left: 3vw;
        }
        .short-info {
            .email {
                font-family: @HelveticaCyrRoman;
                font-weight: bold;
                background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
                background-repeat: no-repeat;                
                padding-bottom: 0.6vw;
                background-position: 1.5vw 1vh;
                background-size: 45% 70%;
            }
            .balance {
                img {
                    position: absolute;
                    margin: 2px 0 0 3px;
                    height: 1.7vh;
                }
                font-family: @HelveticaCyrLight;
            }            
            font-size: 1vw;
            position: absolute;
            width: 20%;
            left: 8.5vw;
            top: 2.5vh;
        }
        .all-time {
            img {
                position: absolute;
                margin: 0.45vh 0 0 0.2vw;
            }
            font-family: @HelveticaCyrLight;
            text-align: center;
            color: @grey;
            font-size: 1.3vw;
            padding-top: 3.5vh;
        }
        position: relative;
        width: 100%;
        height: 10vh;
        min-height: 55px;
        background-image: url('/images/user-info-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 3.5vw 0;
    }
    .cabinet-header {
        ul {
            li {
                a {
                    font-family: @HelveticaCyrMedium;
                    text-decoration: none;
                    color: rgb(212, 212, 212);
                    font-size: 2vw;
                    &:hover {
                        cursor: pointer;
                        color: #fff;
                    }
                }
                margin-left: 3.5vw;
                display: inline;
            }
            width: 45%;
            margin: 0 auto;
            padding-top: 1.3vh;
        }
        width: 100%;
        height: 7vh;
        min-height: 40px;
        background-color: @black;
    }
    .page-loader {
        img {
            display: block;
            margin: 0 auto;
        }
        position: relative;
        width: 100%;
        height: 60vh;
        padding-top: 15vh; 
        background-color: @black;
    }
    .history, .referals, .offers {
        font-family: @HelveticaCyrMedium;
        text-align: center;
        width: 100%;
        height: 60vh;
        background-size: 107%;
        background-repeat: no-repeat;
    }    
    .history {        
        .no-history {
            position: absolute;
            font-family: @HelveticaCyrLight;
            font-weight: lighter;
            font-size: 1.7vw;
            top: 22vh;
            left: 43%;
        }
        .history-table {
            table {
                td {
                    img.icon {
                        width: 9vw;
                        height: 10vh;
                        padding: 0;
                    }
                    img.coin {
                        position: absolute;
                        top: 2.1vh;
                        margin-left: 5px;                        
                    }
                    p {
                        text-align: center;
                    }                  
                    &:nth-child(2) {
                        width: 17vw;
                    }
                    &:nth-child(4) {
                        width: 5vw; 
                    }
                }
            }
            position: absolute;
            left: 6vw;
            top: 0.5vh;
        }
        position: relative;
        background-image: url('/images/history-bg.png');
        background-size: cover;
    }
    .referals {
        .referal-info {
            .call-friend {
                text-align: left;
                background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
                background-repeat: no-repeat;                
                padding-bottom: 0.3vw;
                background-position: 0.6vw 1.3vh;
                background-size: 56% 70%;
            }
            .get-bonus {
                font-family: @HelveticaCyrLight;
                text-align: right;
                font-weight: lighter;
            }
            h1 {
                margin: 0;
                font-size: 1.6vw;
                width: 100%;
            }
            p {
                font-family: @HelveticaCyrLight;
                text-align: justify;
                font-size: 0.8vw;
            }
            .target {
                margin-top: 3vh;
                font-style: italic;
            }
            position: absolute;
            width: 20%;
            left: 22vw;
            top: 7vh;
        }        
        .code-info {
            p {
                font-family: @HelveticaCyrRoman;
                font-weight: bold;
                text-align: center;
                font-size: 0.9vw;
            }
            .code {
                background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
                background-repeat: no-repeat;
                background-position: 5.9vw 0;
                background-size: 40% 100%;
            }
            position: relative;
            margin-top: 5.5vh;
            position: absolute;
            width: 20%;
            left: 22vw;
            top: 25vh;
        }
        .code-income {
            p {
                img {
                    position: absolute;
                    margin: 3px 0 0 3px;
                    height: 1.9vh;
                }
                text-align: center;
                font-family: @HelveticaCyrLight;
                color: @grey;
                font-size: 1.1vw;
            }
            margin-top: 5vh;
            position: absolute;
            width: 30%;
            left: 17.5vw;
            top: 35vh;
        }
        .vip-info {
            h1 {
                font-size: 0.8vw;
                background-image: -webkit-gradient(linear, left bottom, right bottom, from(@beige), to(@beige));
                background-repeat: no-repeat;                
                padding-bottom: 0.3vw;
                background-position: 0.3vw 0.7vh;
                background-size: 18% 70%;
            }
            p {
                font-size: 0.8vw; 
                font-family: @HelveticaCyrLight;
            }
            text-align: left;
            position: absolute;
            width: 30%;
            left: 24vw;
            top: 48vh;
        }
        .no-referals {
            position: absolute;
            font-family: @HelveticaCyrLight;
            font-weight: lighter;
            font-size: 1.7vw;
            top: 22vh;
            right: 20%;
        }
        .referals-table {
            table {
                td {
                    img.coin {
                        position: absolute;
                        top: 0.5vh;
                        margin-left: 3px;
                    }
                    padding: 2.5vh 0;
                    &:nth-child(1) {
                        width: 15vw; 
                        padding-left: 1vw;
                    }
                    &:nth-child(2) {
                        width: 10vw; 
                    }
                    &:nth-child(3) {
                        width: 9vw;
                        padding-left: 1vw; 
                    }
                }
                thead {
                    td {
                        text-align: center;
                    }                    
                }
                position: absolute;
                right: 3vw;
            }
        }
        position: relative;
        background-image: url('/images/referals-bg.png');
        background-size: cover;
    }
    .offers {
        .offers-table {            
            td {
                &.user-data {
                    div {
                        img {
                            border-radius: 50%;
                            border: 2px solid @beige;
                            width: 3vw;
                            height: 6vh;                          
                            top: 0;
                            float: left;
                            margin-left: 3vw;
                            padding: 0;
                        }
                        span {
                            display: block;
                            margin: 2vh 0 0 0.8vw;
                            float: left;
                            text-align: center;
                        }
                        position: relative;
                    }                
                }
                &.good-info {
                    div {
                        img {
                            height: 9vh;
                            width: 4.5vw;                            
                            top: 0;
                            float: left;
                        }
                        span {
                            display: block;
                            margin: 3.7vh 0 0 0.3vw;
                            float: left;
                        } 
                    }                                       
                }
                .trade-link {
                    font-family: @HelveticaCyrLight;
                    font-size: 0.9vw;
                    background-color: white;
                    color: @black;
                    border-radius: 20px;
                    padding: 0.5vh 1vw;
                    outline: none;
                    border: none;
                }
                button {
                    font-family: @HelveticaCyrRoman;
                    border: 2px solid white;
                    border-radius: 20px;                   
                    padding: 0.5vh 1vw;
                    outline: none;
                    font-weight: 700;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .accept {                    
                    background-color: @blue; 
                    color: #fff;                   
                }   
                .decline {
                    margin-left: 0.3vw;
                    background-color: @beige;
                    color: @black;  
                }   
                .cancel {
                    margin-left: 0.3vw;
                    background-color: @red;
                    color: #fff;  
                }       
                &:nth-child(1) {
                    width: 8vw;
                }
                &:nth-child(2) {
                    width: 15vw; 
                }
                &:nth-child(3) {
                    width: 20vw; 
                }
                &:nth-child(4) {
                    width: 5vw; 
                }
                &:nth-child(5) {
                    width: 15vw;
                }
                &:nth-child(6) {
                    width: 5vw;
                }
                &:nth-child(7) {
                    width: 20vw;
                }
                position: relative;
                border-bottom: 7px solid #fff;
            }
            width: 90%;
            margin: 0 auto;
        }
    }
    .filters {
        button {
            font-family: @HelveticaCyrMedium;
            padding: 1vh 1vw;
            color: #fff;
            background-color: @black;
            outline: none;
            border: 2px solid @black;
            border-radius: 10px;
            margin: 0 0.1vw;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                color: @black;
                border: 2px solid;
                background-color: #fff;
            }
        }
        margin-top: 0.9vh;
    }
    position: relative;
    margin-top: 8vh;
}

table {
    td {
        position: relative;
        width: 13vw;
    }
    thead {
        td {
            font-family: @HelveticaCyrLight;
            font-size: 1vw;
            padding: 3vh 0;
        }
        display: block;
    }
    tbody {
        tr {
            td {
                img {
                    padding: 2vh 0;
                }
                border-bottom: 2px solid #fff;
            }
            font-size: 0.9vw;
            background-color: @black;
        }
        display: block;
        height: 45vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        color: #fff;
        &::-webkit-scrollbar-track {
            background-color: @blue;
        }        
        &::-webkit-scrollbar {
            width: 15px;
            height: 80%;
        }        
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px @beige;
            background-color: @beige;
        }
    }                
}

@media 
screen and (max-width: 820px),
screen and (max-width: 414px),
screen and (max-device-width: 414px),
screen and (min-device-width: 415px) and (max-device-width: 823px) {
    .cabinet-app {
        .cabinet-header {
            ul {
                .offers-link {display: none}
            }
        }
        .referals {
            .referal-info {display: none}
            .code-info {display: none}
            .code-income {display: none}
            .vip-info {display: none}
        }
    }
}

@media screen and (max-width: 820px), 
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    .cabinet-app {
        .user-info {
            img.avatar {
                top: 16px; 
                width: 35px;
                height: 35px;
            }
            .short-info {
                .balance {
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
                top: 18px;
                font-size: 12px;
                padding-left: 5px;              
            }
            .all-time {
                img {
                    width: 12px;
                    height: 12px;
                    margin-left: 3px;
                }
                font-size: 2vw;
                padding: 25px 0 0 20vw;
            }
            background-size: cover;
            background-position: 6vw 0;
        }        
        .cabinet-header {
            ul {
                width: 45% !important;
                padding-top: 1.8vh;
                font-size: 20px;
            }
        }
        .history {
            .no-history {
                font-size: 5vw;
                top: 20vh;
                left: 27%;
            }
            .history-table {
                table {
                    thead {
                        td {
                            font-size: 1.5vw;
                            &:nth-child(3) {padding-left: 11vw}
                            &:nth-child(4) {padding-left: 10vw}
                            &:nth-child(5) {padding-left: 9vw}
                            padding: 2vh 0 1vh;
                        }
                        display: block;
                    }
                    tbody {
                        td {
                            img.icon {
                                width: 9vw;
                                height: 5vh;
                                padding: 0;
                            }
                            div.cost {
                                img.coin { 
                                    position: absolute;                               
                                    top: 0;                                    
                                    padding: 0;
                                    width: 11px;
                                    height: 11px;                               
                                } 
                                position: relative;
                            }                      
                            &:nth-child(1) {width: 10%}
                            &:nth-child(2) {width: 30%}
                            &:nth-child(3) {width: 20%}
                            &:nth-child(4) {width: 20%}
                            &:nth-child(5) {width: 20%}
                            font-size: 1.5vw;
                            padding: 1.5vh 0;
                        }
                        &::-webkit-scrollbar {
                            width: 8px;
                        } 
                        height: 50vh;                        
                    }                        
                    width: 100%;                
                }
                left: 1vw;
                top: 0;
                width: 85%;                
            }  
            height: 63vh;          
            background-size: cover; 
        } 
        .referals {
            .referals-table {
                table {
                    thead {
                        td {
                            font-size: 2vw;
                            &:nth-child(1) {padding-left: 10vw}
                            &:nth-child(2) {padding-left: 11vw}
                            &:nth-child(3) {padding-left: 4vw}                           
                            padding: 4vh 0 2vh;
                        }
                        display: block;
                    }
                    tbody {
                        td {
                            div.coin-block {
                                img.coin { 
                                    position: absolute;                               
                                    top: .2vh;                                    
                                    padding: 0; 
                                    width: 11px;
                                    height: 11px;                               
                                } 
                                position: relative;
                            }
                            padding: 2.5vh 0;
                            &:nth-child(1) {width: 40%}
                            &:nth-child(2) {width: 30%}
                            &:nth-child(3) {width: 20%}
                            &:nth-child(4) {
                                width: 10%;
                                padding: 0 1vw;
                            }
                            font-size: 1.8vw;
                        }
                        &::-webkit-scrollbar {
                            width: 8px;
                        }
                    }
                    position: relative;
                    float: right;
                    width: 70%;                    
                }                
            }  
        }       
        .page-loader {
            padding-top: 10vh;
        }      
    }
}

@media screen and (max-width: 414px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    .cabinet-app {
        .user-info {
            img.avatar {
                width: 11vw;
                height: 6.5vh;
                left: 5vw;
                top: 1.7vh;
            }
            .short-info {
                .balance {
                    img {
                        width: 10px;
                        height: 10px;
                        margin: 0 0 0 3px;
                    }
                }
                font-size: 2.3vw;
                width: 30%;
                left: 19vw;
                top: 3vh;
                padding-left: 0 !important;
            }
            .all-time {
                img {
                    position: absolute;
                    margin: 0 0 0 3px;
                    width: 12px;
                    height: 12px;
                }
                position: absolute;
                right: 8vw;
                font-size: 2.4vw;
                padding-top: 4vh;
            }
            background-image: none;
        }
        .cabinet-header {
            ul {
                li {
                    a {
                        font-size: 3.5vw;
                    }
                    margin-left: 3.5vw;
                    display: inline;
                }
                width: 70% !important;
                padding-top: 1.5vh;
            }
        }
        .history {        
            .no-history {
                font-size: 5vw;
                top: 25vh;
                left: 27%;
            }
            .history-table {
                table {
                    thead {
                        td {
                            font-size: 2.3vw;
                            &:nth-child(2) {padding-left: 7vw}
                            &:nth-child(3) {padding-left: 10vw}
                            &:nth-child(4) {padding-left: 8vw}
                            &:nth-child(5) {padding-left: 8vw}
                            padding: 2vh 0 1vh;
                        }
                        display: block;
                    }
                    tbody {
                        td {
                            img.icon {
                                width: 9vw;
                                height: 5vh;
                                padding: 0;
                            }
                            div.cost {
                                img.coin { 
                                    position: absolute;                               
                                    top: 0;                                    
                                    padding: 0;
                                    width: 10px;
                                    height: 10px;                               
                                } 
                                position: relative;
                            }
                            &:nth-child(1) {width: 15%}
                            &:nth-child(2) {
                                p {
                                    padding-bottom: 0 !important;
                                }
                                width: 30%;                                
                            }
                            &:nth-child(3) {width: 15%}
                            &:nth-child(4) {width: 20%}
                            &:nth-child(5) {width: 20%}
                            font-size: 2.5vw;
                        } 
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        height: 48vh;                        
                    }                     
                    width: 100%;                  
                }
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
            }
            position: relative;
            width: 100%;
            margin: 0 auto;
            height: 57vh;
            background-image: none;
        }
        .referals {
            .referals-table {
                table {
                    thead {
                        td {
                            font-size: 2.7vw;
                            &:nth-child(1) {padding-left: 12vw}
                            &:nth-child(2) {padding-left: 18vw}
                            &:nth-child(3) {padding-left: 6vw}
                            &:nth-child(4) {padding-left: 6vw}                            
                            padding: 2vh 0 1vh;
                        }
                        display: block;
                    }
                    tbody {
                        td {
                            div.coin-block {
                                img.coin { 
                                    position: absolute;                               
                                    top: .35vh;                                    
                                    padding: 0;  
                                    width: 10px;
                                    height: 10px;                             
                                } 
                                position: relative;
                            }
                            padding: 2.5vh 0;
                            &:nth-child(1) {width: 40%}
                            &:nth-child(2) {width: 30%}
                            &:nth-child(3) {width: 20%}
                            &:nth-child(4) {
                                width: 10%;
                                padding: 0 2vw;
                            }
                            font-size: 3vw;
                        }
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        height: 51vh;
                    }
                    position: relative;
                    right: 0;
                    width: 100%;
                }                
            }
            height: 57vh;
            background-image: none;
        }
        .page-loader {
            height: 57vh;
            padding-top: 10vh;
        }
    }    
}