header {
    .hamburger {
        .hamburger-inner {
            background-color: #fff;
            &::after, &::before {
                background-color: #fff;
            }
        }
        outline: none;
        display: none;
        float: right;    
    }
}

// При сжатии экрана на десктопе или при горизонтальном положении телефона
@media screen and (max-width: 820px), screen and (min-device-width: 415px) and (max-device-width: 823px) {
    header {
        .hamburger {
            display: block;
            margin-right: 2vw;
            padding-top: 2.4vh;
        }
    }    
}

// при вертикальном положении телефона или очень сильном сжатии на десктопе
@media screen and (max-width: 414px), screen and (max-device-width: 414px) {
    header {
        .hamburger {
            display: block;
            margin-right: 2vw;
            padding-top: 2.4vh;
        }
    }    
}