@import 'style-source.less';
@import 'hamburger-button.less';

header {
    .logo {
        img {
            height: 6vh;
            margin: 1vh 7px 0 0;
        }
        span {
            font-family: @Opificio;
            font-size: 4vh;
            color: white;
            line-height: 1.2;
            text-align: left;
            position: absolute;
            top: 1.7vh;            
        }        
        width: 200px;
        float: left;
        margin-left: 30px;
    } 
    ul.navigation {
        li {
            a {
                font-family: @HelveticaCyrLight;
                color: white;
                text-decoration: none;                    
            }            
        }
        display: block;
        list-style-type: none;
    }
    background-color: @black;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 8vh;
    min-height: 42px;
    width: 100%;
}

footer {
    .left-part {
        div {
            p {
                font-family: @HelveticaCyrMedium;
                color: #bebebe;
                font-size: 2vh;
                margin-bottom: 5px;
            }
            position: relative;
            float: left;
        }
        ul {
            li {
                a {
                    font-family: @HelveticaCyrMedium;
                    color: @grey;
                    text-decoration: none;
                }
                list-style-type: none;
                padding: 5px;
                font-size: 1.6vh;
            }
            padding-left: 5px;
        }
        .navigation {
            ul {
                li {
                    a:hover {
                        color: #fff;
                    }
                }
                border-left: 5px solid @blue;
            }            
        }
        .subscribe {
            ul {
                li {
                    img {
                        height: 45px;
                        width: 45px;
                    }
                    display: inline-block;
                }
                padding: 1.6vh 1vw;
                border-left: 5px solid @beige;
            }            
        }        
        position: relative;
        height: inherit;        
    }
    .right-part {
        .bureaucracy {
            a {
                font-family: @HelveticaCyrRoman;
                color: @grey;
                font-size: 1vw;
                line-height: 1.6;
            }
            position: absolute;
            top: 11vh;
            width: 20vw;
        }
        .download {
            text-align: center;
            a {
                font-family: @HelveticaCyrThin;
                font-size: 4.5vh;
                color: white;
                border: 3px solid;
                border-radius: 60px;
                text-decoration: none;
                padding: 5px 20px;
                &:hover {
                    background-color: white;
                    border: 3px solid white;
                    color: @black;
                    transition: 0.5s;
                }           
            }
            p {
                font-family: @HelveticaCyrThin;
                font-size: 6vh;
                margin-top: 10px;
                color: white;
            }
            position: absolute;
            top: 6.5vh;
            right: 7vw;
        }
        position: relative;
        height: inherit;
        width: 49%;
        float: right;
    }
    width: 100%;
    background-color: @black;
}

@media screen and (min-width: 820px) and (min-device-width: 823px) {
    header {
        ul.navigation {
            li {
                a {                    
                    font-size: 2.5vmin;
                    padding: 5px 15px 2.3vh;
                    &:hover {
                        border-bottom: 5px solid @blue;
                    }
                } 
                display: inline;               
            }
            display: block;          
            float: right;
            margin: 2.4vh 10vw 0 0;
        }
    }
    footer {
        .left-part {
            .navigation {
                margin: 5vh 0 0 14vw; 
            }
            .subscribe {
                margin: 5vh 0 0 3vw; 
                float: left
            }
            width: 49%;
            float: left;
        }
        height: 25vh;
    }    
}

@media screen and (max-width: 820px),
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    header {
        .logo {
            span {
                padding-top: 1.5vh;
            }
            padding-top: 1.5vh;
        }
        ul.navigation {
            li {
                text-align: center;
                padding: 3.3vh 0;
                font-size: 4vh;
            }            
            position: absolute;
            background-color: @black;
            margin-top: 11vh;
            height: 52vh;
            width: 100%;            
            display: none;
            -webkit-transition: top 0.2s ease-out;
            transition: top 0.2s ease-out;
        }
    }
    footer {
        .left-part {
            .navigation {
                p {
                    font-size: 12px;
                }
                ul li {
                    font-size: 8px;
                }
                margin-top: 3vh; 
            }
            .subscribe {
                p {
                    font-size: 12px;
                }
                ul li img {
                    width: 25px;
                    height: 25px;
                }
                margin-top: 3vh; 
                float: right;
            }
            width: 50%;
            margin: 0 auto;
        }
        .right-part {display: none}
        height: 28vh;
    }
}

@media screen and (max-width: 414px), 
only screen and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    header {
        .logo {
            span {
                padding-top: 0;
            }
            padding-top: 0;
        }
        ul.navigation {
            li {
                text-align: center;
                padding: 2vh 0;
                font-size: 2.3vh;
            }
            position: absolute;
            background-color: @black;
            margin-top: 7.9vh;
            height: 29vh;
            width: 100%;            
            display: none;
            -webkit-transition: top 0.2s ease-out;
            transition: top 0.2s ease-out;
        }
    }
    footer {
        .left-part {
            .navigation {
                margin-top: 3vh; 
            }
            .subscribe {
                ul li img {
                    width: 20px;
                    height: 20px;
                }
                margin-top: 3vh;
            }
            width: 70%;
        }        
        height: 18vh;
    }
}

* {
    margin: 0;
    padding: 0;
}