/*
** fonts
*/
@font-face {
    :global {
        font-family: 'Opificio';
        src: url('/fonts/Opificio-Light.ttf');
    }     
}
@Opificio: 'Opificio', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrLight';
        src: url('/fonts/HelveticaNeueCyr-Light.ttf'); 
    }
}
@HelveticaCyrLight: 'HelveticaCyrLight', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrMedium';
        src: url('/fonts/HelveticaNeueCyr-Medium.ttf');   
    }
}
@HelveticaCyrMedium: 'HelveticaCyrMedium', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrRoman';
        src: url('/fonts/HelveticaNeueCyr-Roman.ttf');
    }
}
@HelveticaCyrRoman: 'HelveticaCyrRoman', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrThin';
        src: url('/fonts/HelveticaNeueCyr-Thin.ttf');
    }
}
@HelveticaCyrThin: 'HelveticaCyrThin', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaThin';
        src: url('/fonts/HelveticaNeue-Thin.ttf');
    }
}
@HelveticaThin: 'HelveticaThin', sans-serif;


/*
** colors
*/
@beige: #ffe3b9;
@black: rgb(33, 33, 33);
@blue: #1c578b;
@grey: #696969;
@red: #b35050;